.aside__title {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 66px;
  color: $black;
}

.aside__label {
  font-family: "IntroScriptR", "Verdana", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
}
