.baker {
  position: relative;
  margin-bottom: 19px;
  padding: 0 19px;
}

.baker__social-list {
  position: absolute;
  top: 0;
  right: 74px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.baker__social-item {
  display: flex;
  width: 36px;
  height: 36px;

  background-color: $white;
  border-radius: 50%;
}

.baker__social-icon {
  margin: auto;
}

.baker__title {
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  font-family: "IntroScriptR", "Verdana", sans-serif;
  color: $black;
  letter-spacing: 0.02em;
}

// .baker__picture {
//   margin: 0;
//   padding: 0;
//   font-size: 0;
//   line-height: 0;
//   width: 0;
//   height: 0;
// }
.baker__photo {
  margin: 0 0 0 1px;
  padding: 0;
}

.baker__subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  letter-spacing: 0.02em;
}

.baker__description {
  margin: 7px 0 10px;

  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.baker__blockquote {
  position: relative;
  margin: 66px 0;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  color: $black;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.03em;
}

.baker__quotes-icon {
  position: absolute;

  top: -30px;
  left: 125px;

  width: 26px;
  height: 17px;
}

.baker__autor-icon {
  position: absolute;

  bottom: 15px;
  left: 107px;

  width: 61px;
  height: 31px;
}