.constituting__text {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 63px;
  color: $pink;
}

.constituting__title {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $pink;
}

.constituting__switch {
  font-size: 12px;
  line-height: 26px;
}

.constituting__switch--light {
  color: $white;
}

.constituting__switch--dark {
  color: $black;
}

.constituting__name {
  font-weight: 700px;
  font-size: 16px;
  line-height: 56px;
  color: $black;
}

.constituting__description {
  font-size: 14px;
  line-height: 21px;
  color: $black;
}

.constituting__price {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: $black;
}
