.page-header {
  display: flex;
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 75px;
  }
}

.page-header__logo {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.page-header__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    font-size: 15px;
    line-height: 40px;
  }
}
