.special__title {
  margin: 0 20px 4px;
  padding: 0 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  text-align: center;
  color: $black;
}

.special__description {
  margin: 0 20px 17px;

  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  font-family: "IntroScriptR", "Verdana", sans-serif;
  text-align: center;
  color: $black;
}

.special__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.special__aside {
  padding: 35px 0 0;
}

.special__button {
  margin: 0 0 35px 11px;
}
