.user-form__description {
  font-size: 14px;
  line-height: 21px;
  color: $black;
}

.user-form__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  opacity: 0.2;
}
