$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

$pink: #f50049;
$red: #e3353d;
$light-pink: #fbebea;
$black: #000000;
$white: #ffffff;
$light-gray: #e7e7e7;
$dark-gray: #898989;
$copyright-gray: #b8b8b8;
